@model IEnumerable<RestaurantRater2.Models.Restaurant>

@{
    ViewBag.Title = "Restaurants";
}

<h2>List of Restuarants</h2>

<p>
    @Html.ActionLink("Rate a Restaurant", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Address)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Rating)
            </th>
            <th>
                @Html.ActionLink("Change", "Edit", new { id = item.RestaurantId }) |
                @Html.ActionLink("More Info", "Details", new { id = item.RestaurantId }) |
                @Html.ActionLink("Remove", "Delete", new { id = item.RestaurantId }) |
            </th>
        </tr>
    }
</table>

